.profile__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
  }
  
  .profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 390px;
  }
  
  .profile__container h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  .profile__container p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .profile__container input[type="file"] {
    margin-top: 1rem;
  }
  
  .profile__container > *:not(:first-child) {
    margin-top: 1rem;
  }
  

  .profile__container .avatar__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .profile__container .name__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  