.Login {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -79px;
  padding: 0 20px;
}

.Login > div {
  margin-bottom: 10px;
}

.google-signin-button {
  background-color: #ccc;
  color: #333;
}

.google-icon {
  font-size: 20px;
  margin-right: 10px;
}
